<div id="header-post">
  <a id="menu-icon" href="#" aria-label="<%- __('icons.menu') %>"><i class="fa-solid fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#" aria-label="<%- __('icons.menu') %>"><i class="fa-solid fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" aria-label="<%- __('icons.top') %>" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i class="fa-solid fa-chevron-up fa-lg"></i></a>
  <span id="menu">
    <span id="nav">
      <ul>
        <%- partial('_partial/nav-menu') %>
      </ul>
    </span>
    <br/>
    <span id="actions">
      <ul>
        <% if (page.prev) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.previous') %>" href="<%- url_for(page.prev.path) %>"><i class="fa-solid fa-chevron-left" aria-hidden="true"></i></a><span class="icon-label"><%= __('post.desktop.previous') %></span></li>
        <% } %>
        <% if (page.next) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.next') %>" href="<%- url_for(page.next.path) %>"><i class="fa-solid fa-chevron-right" aria-hidden="true"></i></a><span class="icon-label"><%= __('post.desktop.next') %></span></li>
        <% } %>
        <li><a class="icon" aria-label="<%- __('post.desktop.back_to_top') %>" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa-solid fa-chevron-up" aria-hidden="true"></i></a><span class="icon-label"><%= __('post.desktop.back_to_top') %></span></li>
        <li><a class="icon" aria-label="<%- __('post.desktop.share') %>" href="#" onclick="$('#share').toggle();return false;"><i class="fa-solid fa-share-alt" aria-hidden="true"></i></a><span class="icon-label"><%= __('post.desktop.share') %></span></li>
      </ul>
    </span>
    <br/>
    <div id="share" style="display: none">
      <%- partial('_partial/post/share', { icon_class_name: '' }) %>
    </div>
    <% let tocHTML = toc(page.content) %>
    <% if (tocHTML !== '') { %>
      <div id="toc">
        <%- tocHTML %>
      </div>
    <% } %>
  </span>
</div>
